<!DOCTYPE html>
<html>
  <head>
    <title>JumpStart</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-100">
    <div class="min-h-screen">
      <%= render "layouts/partials/navbar" %>
      <%= render "layouts/partials/flash_message" %>
      <div class="py-5 bg-white min-h-screen">
        <header>
          <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <%= breadcrumbs %>
          </div>
        </header>
        <main>
          <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <!-- Replace with your content -->
            <div class="px-4 py-0 sm:px-0">
              <%= yield %>
            </div>
            <!-- /End replace -->
          </div>
        </main>
      </div>
      
    </div>
  </body>
</html>
